
$maxWidthContainer: 1260 + 30;


$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


$main-color: #000000;
$orange-color: #FF971D;
$gray-color: #F5F6F8;
$skeleton-color: #e7e7e7;
$white-color: #FFFFFF;
$font-family: 'Rubik', sans-serif;
// font-family: 'Karla', sans-serif;
// font-family: 'Rambla', sans-serif;
// font-family: 'Rubik', sans-serif;
$body-bg: $gray-color;

// $box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

// $header-height: 8rem;
// $header-shrink-height: 5rem;
// $border-radius: 30px;
// $mobile-width: 600px;
// $tablet-width: 1024px;
